@charset "ISO-8859-1";
body{
    height: 100vh;
    width: 100vw;
    background: rgba(252,234,187,1);/* Old Browsers */
background: -moz-linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(left bottom, right top, color-stop(7%, rgba(252,234,187,1)), color-stop(14%, rgba(252,225,154,1)), color-stop(27%, rgba(252,209,91,1)), color-stop(30%, rgba(252,205,77,1)), color-stop(36%, rgba(253,205,78,1)), color-stop(42%, rgba(254,205,78,1)), color-stop(48%, rgba(255,205,79,1)), color-stop(73%, rgba(253,214,112,1)), color-stop(100%, rgba(251,223,147,1)));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%); /* IE 10+ */
background: linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}
.container{
	font-size: large;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	align-content: center;
    flex-direction: column;
}
.title{
	color: blanchedalmond;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 4vh;
    margin-top: 30vh;
}
.form{
	text-align: center;
	width: 80vw;
	display:flex;
	margin: 0 auto;
	align-content: center;
	flex-direction: column;
}

.submit{
	box-shadow: 1px 1px blanchedalmond;
    border-radius: 1em;
    border: 0px;
	width: 20vw;
	margin: 0 auto;
	color: white;
	background-color: #D1913C;
}
.username{
    border-radius: 1em;
    border: 1px lightgray solid;
    text-align: center;
    width: 40vw;
    align-content: center;
    justify-content: center;
	margin: 0 auto;
    margin-bottom: 1vh;
    min-height: 1vh;
    height: 2vh;
}
.password{
    border-radius: 1em;
    border: 1px lightgray solid;
    text-align: center;
    width: 40vw;
    align-content: center;
    justify-content: center;
	margin: 0 auto;
    min-height: 1vh;
    height: 2vh;
}
.username[type="text"] :focus{
    border-radius: 1em;
    border: 1px lightgray solid;
    text-align: center;
    width: 40vw;
    align-content: center;
    justify-content: center;
	margin: 0 auto;
	margin-bottom: 5%;
}
.password[type="text"] :focus{
    border-radius: 1em;
    border: 1px lightgray solid;
    text-align: center;
    width: 40vw;
    align-content: center;
    justify-content: center;
	margin: 0 auto;

}