@charset "ISO-8859-1";
body{
	margin-left: 0px;
	background: rgba(252,234,187,1);/* Old Browsers */
	background: -moz-linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(left bottom, right top, color-stop(7%, rgba(252,234,187,1)), color-stop(14%, rgba(252,225,154,1)), color-stop(27%, rgba(252,209,91,1)), color-stop(30%, rgba(252,205,77,1)), color-stop(36%, rgba(253,205,78,1)), color-stop(42%, rgba(254,205,78,1)), color-stop(48%, rgba(255,205,79,1)), color-stop(73%, rgba(253,214,112,1)), color-stop(100%, rgba(251,223,147,1)));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%); /* IE 10+ */
background: linear-gradient(45deg, rgba(252,234,187,1) 7%, rgba(252,225,154,1) 14%, rgba(252,209,91,1) 27%, rgba(252,205,77,1) 30%, rgba(253,205,78,1) 36%, rgba(254,205,78,1) 42%, rgba(255,205,79,1) 48%, rgba(253,214,112,1) 73%, rgba(251,223,147,1) 100%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}
.dashboardContainer{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}
.greeting{
	margin: 0 auto;
	margin-top: 7vh;
	margin-bottom: 1vh;
	color: blanchedalmond;
	font-family: 'Times New Roman', Times, serif;
}
.header{
	/* font-size: 32px;
	margin: 0 auto;
	color:blue;
	justify-content: center;
	align-content:center;	
	display:flex; */
}
.annoucement{
	/* font-size: 32px;
	margin: 0 auto;
	color:blue;
	justify-content: center;
	align-content:center;	
	display: flex; */
}
.dashboardContainers{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.Manage{
	   -webkit-box-shadow: 6px 4px 37px 24px rgba(209,209,209,0.81);
	-moz-box-shadow: 6px 4px 37px 24px rgba(209,209,209,0.81);
	box-shadow: 6px 4px 37px 24px rgba(209,209,209,0.81);
    border: 0px;
    height: 45vh;
	width: 30vw;
	text-align: center;
}
.ManageTitle{
	font-family: serif;
    border: 1px orange solid;
    width: 45%;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 17px;
    min-width: 100px;
}
.Analyze{
	-webkit-box-shadow: 6px 4px 37px 24px rgba(209,209,209,0.81);
	-moz-box-shadow: 6px 4px 37px 24px rgba(209,209,209,0.81);
	box-shadow: 6px 4px 37px 24px rgba(209,209,209,0.81);
    border: 0px;
    height: 45vh;
    width: 30vw;
}
.Settings{
	-webkit-box-shadow: 6px 4px 37px 24px rgba(209,209,209,0.81);
	-moz-box-shadow: 6px 4px 37px 24px rgba(209,209,209,0.81);
	box-shadow: 6px 4px 37px 24px rgba(209,209,209,0.81);
    border: 0px;
    height: 45vh;
    width: 30vw;
}